<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My NICU Journey</title>
  <meta name="description" content="">

  <!-- Material design icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

  <!--Material CSS-->
  <link href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,400italic,700" rel="stylesheet"
        type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="app.css">
</head>
<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!---------------------------------------------------------------------------->

<div layout="column" layout-fill ng-cloak>
  <header>
    <md-toolbar class="md-hue-2 md-whiteframe-z2" data-ng-controller="MenuCtrl as vm">
      <div class="md-toolbar-tools" >
        <md-menu class="md-hue-1">
          <md-button class="md-icon-button" aria-label="menu" ng-click="vm.openMenu($mdOpenMenu, $event)">
            <md-icon md-menu-origin class="material_icons">menu</md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="ctrl.redial($event)">
                <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
                Redial
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
                <md-icon md-svg-icon="call:voicemail"></md-icon>
                Check voicemail
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="ctrl.toggleNotifications()">
                <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
                {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <div>Angular seed app: v<span app-version></span></div>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <h2>My NICU Journey</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="provide feedback">
          <md-icon class="material_icons">feedback</md-icon>
        </md-button>
      </div>

    </md-toolbar>
  </header>
  <md-content flex>
    <div ng-view flex></div>

    <!--<div>Angular seed app: v<span app-version></span></div>-->
  </md-content>

  <footer>
    <md-toolbar layout="row" md-theme="ccpurple">
      <md-nav-bar md-selected-nav-item="currentNavItem"
                  nav-bar-aria-label="navigation links"
                  flex>
        <md-nav-item md-nav-href="#!/view1" name="today" aria-label="Today" flex>
          <div class="material-icons">today</div>
        </md-nav-item>
        <md-nav-item md-nav-href="#!/journey" name="journey" aria-label="My Journey" flex>
          <div class="material-icons">map</div>
        </md-nav-item>
        <md-nav-item md-nav-href="#!/view2" name="learn" aria-label="Learn" flex>
          <div class="material-icons">school</div>
        </md-nav-item>
        <md-nav-item md-nav-href="#!/care_team" name="careTeam" flex>
          <div class="material-icons" aria-label="Care Team">people</div>
        </md-nav-item>
        <md-nav-item md-nav-href="#!/nicview" name="nicview" aria-label="NICView Camera" flex>
          <div class="material-icons">linked_camera</div>
        </md-nav-item>
      </md-nav-bar>
    </md-toolbar>
  </footer>
</div>

<!-- Angular Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-sanitize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-route.min.js"></script>

<!--Angular Material Dependencies-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

<!-- Bootstrapping -->
<script src="js/app.module.js"></script>

<!-- core modules -->
<script src="js/core/core.module.js"></script>
<script src="js/core/core.palette.js"></script>

<!-- layout -->
<script src="js/menu/menu.module.js"></script>
<script src="js/menu/menu.js"></script>


<!--SMART on FHIR-->
<!--<script src="https://rawgithub.com/smart-on-fhir/client-js/master/dist/fhir-client.js"></script>-->
<!--<script src="https://cdn.rawgit.com/smart-on-fhir/client-js/v0.1.8/dist/fhir-client.js"></script>-->


<script src="fhir/fhir-client.min.js"></script>
<script src="js/fhir/fhir.module.js"></script>
<script src="js/fhir/fhir.provider.js"></script>
<script src="js/fhir/fhir.interpreter.js"></script>

<!--patient module-->
<script src="js/pt/pt.module.js"></script>
<script src="js/pt/pt.config.js"></script>
<script src="js/pt/pt.js"></script>

<!--care team module-->
<script src="care_team/care_team.module.js"></script>
<script src="care_team/care_team.js"></script>
<script src="care_team/care_team.service.js"></script>

<!--resources-->
<script src="js/core/limit_chars.filter.js"></script>
<script src="js/core/limit_chars.directive.js"></script>
<script src="js/core/tools.title-case.filter.js"></script>

<script src="app.js"></script>
<script src="view1/view1.js"></script>
<script src="view2/view2.js"></script>
<script src="journey/journey.js"></script>
<script src="nicview/nicview.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
